.darkBG {
	background:#999;
	padding:10px;

}
.darkerBG {
	background:#666;
	padding:10px;

}
.darkestBG {
	background:#333;
	padding:10px;
}
.move{
	background:#444;
	padding:20px;
	color:white;
	font-size: 120%;
	text-align: center;
}

.mypanel{
	margin: 3%;


}
.mypanel .heading{
	background: lightblue;
	padding: 10px 20px;

}
.mypanel .body{
	background: lightgreen;
	padding: 10px 20px;

}

